body {
    background-color: #D0D0D0;
    color: black;
    padding: 60px 0 0 0;
}
a {
    color: #4D5F6A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    color: #444;
}

#wrap {
    border: 5px solid #f2f2f2;
    background-color: #EDEDED;
    padding: 7px;
    margin: 0 auto;
    width: 584px;
    color: black;
}

.note {
    margin: 0 0 20px 0; 
}

.note h2 {
    font: normal 25px Helvetica, sans-serif;
    color: black;
    background-color: inherit;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.note p {
    font: normal 13px Helvetica, sans-serif;
    color: #515151;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.note ul {
    margin: 15px 0 0 0;
    list-style-type: none;
    display: block;
}

.note ul li {
    width: 195px;
    height: 45px;
    padding: 0 0 0 7px;
    margin: 0 30px 8px 0;
    float: left;
    display: list-item;
}

.note ul li img {
    height: 30px;
}
